<%= stylesheet_link_tag "mypage", :media => "all" %>
<h1>マイページ</h1>

<% if @user.id==current_user.id %>
<%= link_to 'プロフィールを編集する', edit_user_registration_path %>
<% end %>

<p><span>Email:</span>  <%= @user.email %></p>
<h3>ユーザー名</h3>
<%= @user.name %>

<h3>プロフィール</h3>
<%= @user.profile%>
<hr>

<h2>投稿アイデア一覧</h2>
<% @user.ideas.each do |t| %>
    <div class='ideas'>
    <p><%= t.idea %></p>
    <%= t.created_at %>
    </div>
<% end %>